.App {
  min-height: 100vh;
  background: #fff;
  color: #000;
  padding: 60px 80px;
  display: flex;
  gap: 60px;
}

.sidebar {
  flex-shrink: 0;
  width: 200px;
  padding-left: 30px;
  border-left: 4px solid #000;
  padding-top: 20px;
}

.content {
  flex: 1;
  padding-top: 20px;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.fade-out {
  opacity: 0;
  transform: translateY(5px);
  pointer-events: none; /* Prevents interaction during fade-out */
}

@media (min-width: 769px) {
  .sidebar {
    position: fixed;
    top: 60px;
    left: 80px;
    height: 400px;
  }

  .content {
    margin-left: 260px;
  }
}

@media (max-width: 768px) {
  .App {
    padding: 30px 20px;
    gap: 40px;
    display: block;
    position: relative;
  }

  .sidebar {
    padding-left: 20px;
    padding-top: 10px;
    position: relative;
    border-left: none;
  }

  .sidebar::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: -40vh;
    width: 4px;
    background: #000;
  }

  .content {
    padding-top: 30px;
    padding-left: 30px;
  }
}